@page "/products"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using WebApp.Data
@rendermode InteractiveServer

<h3>🎒Backpack List🎒</h3>

<QuickGrid TGridItem="Product"
           ItemsProvider="@ProvideProductsAsync"
           Pagination="@paginationState">
    <PropertyColumn Property="@(p => p.id)" Title="ID"/>
    <PropertyColumn Property="@(p => p.brand)" Title="Brand"/>
    <PropertyColumn Property="@(p => p.price.ToString("F0"))" Title="Price($)"/>
    <PropertyColumn Property="@(p => p.weight_capacity_kg.ToString("F2"))" Title="Weight(kg)"/>
    @* <PropertyColumn Property="@(p => p.waterproof)" Title="Waterproof"/> *@
    <PropertyColumn Property="@(p => p.size)" Title="Size"/>
    <PropertyColumn Property="@(p => p.color)" Title="Color"/>
    <PropertyColumn Property="@(p => p.style)" Title="Style"/>
    <PropertyColumn Property="@(p => p.compartments)" Title="Spaces"/>

    <TemplateColumn Title="Action">
        <div class="d-flex gap-1　flex-nowrap">
            <NavLink class="btn btn-sm btn-outline-primary w-auto" href="@($"/products/edit/{context.id}")">
                Edit
            </NavLink>
            <NavLink class="btn btn-sm btn-outline-danger w-auto" href="@($"/products/delete/{context.id}")">
                Delete
            </NavLink>
        </div>
    </TemplateColumn>

</QuickGrid>



<Paginator State="@paginationState"/>

@code {
    private readonly PaginationState paginationState = new() { ItemsPerPage = 10 };

    [Inject] private AppDbContext Db { get; set; } = default!;

    private async ValueTask<GridItemsProviderResult<Product>> ProvideProductsAsync(GridItemsProviderRequest<Product> request)
    {
        var query = Db.Products.AsNoTracking();
        var total = await query.CountAsync();

        var items = await query
            .Skip(request.StartIndex)
            .Take(request.Count ?? 10)
            .ToListAsync();

        return new GridItemsProviderResult<Product>
        {
            Items = items,
            TotalItemCount = total
        };
    }

}